<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    {% assign sum = site.posts | size %}
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">All Posts ({{sum}})</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign categories = site.categories %}
    {% for category in categories %}
      {% capture node %}{{ category | first }}{% endcapture %}
      {% capture node_url %}/category/{{ node }}{% endcapture %}
        {% if node != null %}
        <a class="sidebar-nav-item{%if page.title == node %} active{% endif %}" href="{{ node_url }}">{{ node }} ({{ category[1].size }})</a>
        {% endif %}
    {% endfor %}

    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>